*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 100px;
}
.nav-link{
    flex: 1;
}
.nav-link ul{
    margin-left: 50px;
    display: inline;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    
}
.nav-link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .6s;
    
}
.nav-link ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.nav-link .btn{
    float: right;
}
.banner-title{
    margin: 80px 130px;
    color: #fff;
}
.banner-title h1{
    font-size: 62px;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color: yellow;
}
.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
    color: yellow;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;

}
.social icons{
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    color: yellow;
}
.social icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    color: yellow;

}
.notifications{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.contents{
    flex-basis: 50%;
    padding: 10px;
}
.notification-video{
    flex-basis: 60%;
}
.notification-video video{
    width: 100%;
}

.contents a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}
.contents p{
    text-align: right;
    margin-top: 10px;
}

@media (max-width: 700px){
    .vertical bar{
        display: none;
    }
    .banner-title{
        margin: 80px 40px;
    }
    .banner-title h1{
        font-size: 50px;
    }
    .notification{
        width: 100%;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-link ul a{
        display: block;
    }
    .nav-link .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}






